

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.edge {
  stroke-width: 1;
  stroke: #888;
  stroke-opacity: 0.5;
}

.node {
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.node.level0 {
  fill: #0570b0;
}

.node.level1 {
  fill: #3690c0;
}

.node.level2 {
  fill: #74a9cf;
}

.node.level3 {
  fill: #a6bddb;
}

.node.level4 {
  fill: #d0d1e6;
}

.node.level5 {
  fill: #ece7f2;
}

.node--leaf {
  fill: white;
}

.node.related {
  stroke: #CC79A7;
  stroke-width: 1.5px;
}

.node--leaf.related {
  fill: #CC79A7;
}

.node.selected {
  stroke: #FFAF10;
  stroke-width: 1.5px;
}

.node--leaf.selected {
  fill: #FFAF10;
}

.node.outlined {
  stroke: #000000;
  stroke-width: 1.5px;
}

.tooltipBackground {
  fill: #FFFFFF;
  stroke-width: 3;
  stroke: #7F7F7F;
}

.tooltipTriangle {
  fill: #7F7F7F;
}

.node--root {
  pointer-events: none;
}

.closebuttonx {
  stroke: #000000;
  stroke-width: 2;
}

.related-repo {
  cursor: pointer;
}

.related-repo.same-owner {
  font-weight: bold;
}

.closebuttoncircle {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  cursor: pointer;
  pointer-events: all;
}

.mobile-tooltip {
  min-height: 60px;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 300px;
  overflow-y: auto;
}

.select2-selection__clear {
  font-size: 1.5em;
}
